<div>
  <div class="audio-dropdown-container">
    <div class="audio-row">
      <div class="audio-container" *ngFor="let question of questions; let i = index">
        <audio #audioPlayer controls *ngIf="question.preview_url">
          <source [src]="question.preview_url" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>

    <div class="dropdown-row">
      <div class="dropdown-container" *ngFor="let question of questions; let i = index">
        <select [(ngModel)]="userAnswers[currentGuess][i]">
          <option *ngFor="let answer of answers" [value]="answer">{{ answer }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="results-container">
    <h2>Guesses</h2>
    <div class="guess-rows">
      <div *ngFor="let row of userAnswers; let guessIndex = index" class="guess-row">
        <div *ngFor="let answer of row; let i = index" class="guess-box"
          [style.background]="feedback[guessIndex] ? feedback[guessIndex][i] : 'white'">
          {{ getDisplayText(answer) }}
        </div>
      </div>
    </div>
  </div>
  

  <div class="submit-container">
    <button class="submit-button" (click)="submitAnswers()" [disabled]="isGameOver">Submit</button>
  </div>

  <div *ngIf="isGameOver">
    <h2>{{ gameOverMessage }}</h2>
    <app-gameover [score]="score" (closeGameover)="handleGameoverClose()"
      (scoreSaved)="handleScoreSaved()"></app-gameover>
  </div>
</div>