/* styles.css */

.settings {
    background-color: #d0efb1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.3s, color 0.3s;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.option {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e0e0e0;
}

.option.active {
    background-color: #B6A39E;
    color: #1e1e1e;
}

.theme-toggle {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #B6A39E;
    color: rgb(26, 26, 26);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #978783;
}


