<div class="settings">
    <h1>Settings</h1>
    <div class="difficulty">
        <h2>Music Playtime</h2>
        <div class="options">
            <div class="option" data-difficulty="hard">5 secs</div>
            <div class="option" data-difficulty="medium">10 secs</div>
            <div class="option" data-difficulty="easy">15 secs</div>
        </div>
    </div>
    <div class="theme-toggle">
        <h2>Toggle Theme</h2>
        <button (click)="toggleTheme()">{{ theme }}</button>
    </div>
</div>
