.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.nav-link.active,
.nav-link:hover {
    color: #B3D89C;
}

.settings-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    transition: color 0.3s;
    margin-left: 20px;
}

.settings-button:hover {
    color: #B3D89C;
}

/* Dark mode styles */
body.dark-mode .navbar {
    background-color: #222;
}

body.dark-mode .navbar-brand,
body.dark-mode .nav-link {
    color: #ccc;
}

body.dark-mode .nav-link.active,
body.dark-mode .nav-link:hover {
    color: #B3D89C;
}

body.dark-mode .settings-button {
    color: #ccc;
}

body.dark-mode .settings-button:hover {
    color: #B3D89C;
}