body {
    font-family: Arial, sans-serif;
    background-color: #B3D89C;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #504644;
    color: #38312f;
}