.home{
    position: absolute;
    background-color: rgb(105, 158, 25);
}

.home-card{
    border-radius: 20px;
}

.backdrop{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 68vm;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}