.home{
    background-color: #b3d89c;
    border-radius: 20px;
    padding: 20px;
}

.home-card{
    background-color: #d0efb1;
    border-radius: 20px;
    padding: 20px;
}

.backdrop{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 68vw;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}