<div *ngIf="authLoading || configLoading">Loading...</div>
<div class="home" *ngIf="!authLoading && !configLoading">
  <div>
    <h1>Audle</h1>
  </div>
  <div class="home-card">
    <h3> How to play</h3>
    <p> Match the Song to the right Sound! </p>
    <p> Green = Correct Song and Position</p>
    <p> Yellow = Correct Song in wrong position</p>
    <p> Red = Incorrect Song</p>
    <!-- <button (click)="onPlay()"></button> -->
    <a routerLink="/play" routerLinkActive="active" class="nav-link"><button (click)="onPlay()">Play</button></a>
  </div>
</div>
